<% render '/default.*' do %>
    <h1><%=@item[:title] %></h1>

    <aside>
        tags: <%=tags_for @item, base_url: '/tags/', none_text: '(nenhuma)' %>
        ~ postado em <%= @item[:created_at] ? @item[:created_at].strftime("%d/%m/%Y") : "(?)" %>
    </aside>

    <%=yield %>

    <% if @item[:comments] && @item[:uuid] %>
        <%=render '/components/comments.erb' %>
    <% end %>
<% end %>
